<div class="">
  <!-- Parent div needed to use :only-child css -->
  <div class="centered contact">
    <p><%= "Name: #{@contact.full_name.split.map(&:capitalize).join(' ')}" %></p>
    <p><%= "Email: #{@contact.email}" %></p>
    <p><%= "Notes: #{@contact.notes}" %></p>
    <form class="inlinebutton" action="/contacts/<%= @contact.id %>/edit" method="get">
        <input class='colouredbutton' type='submit' value='Edit'>
    </form> | <form class="inlinebutton" action="/contacts/<%= @contact.id %>" method="post">
        <input type='hidden' name='_method' value='delete'>
        <input class='colouredbutton' type='submit' value='Delete'>
    </form>
  </div>
</div>
